header{
  z-index: 1;
  position: absolute;
  width: 100%;}

header .collapse{
  justify-content: space-between;
}
header .collapse a.navbar-brand{
  margin:0 ;
  font-weight: bold;
}



input[type=text] {
  width: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../img/search.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 200px;
}


.title{
  position: relative;
  width: 100%;
  height: 700px;
  top: 0;
  left: 0;}

.title .box-right{
  width: 37%;
  height: 400px;
  float: right;
  background: aqua;
}

 .title .main-box{
  width: 70%;
  height: 550px;
  position: absolute;
  bottom: 0;
  left: 2%;
 }
 .title .main-box .text{
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 15%;
  width: 400px;
  background: yellow;

 }
 .title .main-box .text h2{
  font-size: 35px;
 }
 .title .main-box .text p{
  padding: 20px 0;
 }
 .title .main-box .box-center{
  position: absolute;
  width: 80%;
  height: 550px;
  bottom: 0;
  right: 0;
  background:  #cec;}

 .title .main-box .view-profile{
  width: 29%;
  bottom: 0;
  left: 0;
  height: 10%;
  background: yellow;
  position: absolute;}

 .title .main-box .view-profile .left-box{
  background: #93ecec; 
  height: 100%;
  float: left;
 }
 .title .main-box .view-profile .rigth-box{
  height: 100%;
  width: 30%;
  background: green;
  float: right;
 }

